<div *ngIf='currentProjectT && contractUsers && userServers && userLBaaS' class="container-fluid">
  <app-cloudvisualised *ngIf='currentProjectT && userPorts && userNetworks && userSubNetworks && userRouters' ></app-cloudvisualised>
  <div class="col-md-12">
      <div class="panel with-nav-tabs panel-info">  <!-- Main Tabbed Panel Wrapper --> 
          <div class="panel-heading"> <!-- Main Tabbed Panel Headings -->
                  <ul class="nav nav-tabs">
                      <li *ngIf='contractProjects'><a href="#tab0global" data-toggle="tab">Contract Detail</a></li>
                      <li *ngIf='contractProjects'><a href="#tab0project" data-toggle="tab">Project Detail</a></li>
                      <li *ngIf='userServers'><a href="#tab1compute" data-toggle="tab">Compute <span class="badge">{{userServers.length}}</span></a></li>
                      <li *ngIf='userStacks'> <a href="#tab2stack" data-toggle="tab">Stack <span class="badge">{{userStacks.length}}</span></a></li>
                      <li *ngIf='userLBaaS'> <a href="#tab3primary" data-toggle="tab">LBaaS <span class="badge">{{userLBaaS.length}}</span></a></li>
                  </ul>
          </div> <!-- Main Tabbed Panel Headings -->
          <div class="panel-body"> <!-- Tabbed Panel Body -->
              <div class="tab-content"> <!-- Tabbed Panel Body Panes -->
                  <div class="tab-pane fade in active" id="tab0global"> <!-- First Tab -->
                      <div class="container-fluid"> <!-- First Tab Container-->
                              <div class="row"> <!-- First Tab Container First Row-->

                                  <div class="col-md-6"><!-- First Tab Container First Row Block 1-->
                                            <div  *ngIf='contractProjects' class="panel panel-default"><!-- Panel Start -->
                                                  <div class="panel-heading"><!-- Panel Heading -->
                                                    <h3 class="panel-title">
                                                      Projects <span class="badge">{{contractProjects.length}}</span>
                                                    </h3>
                                                  </div><!-- Panel Heading -->
                                                  <div class="fixed-panel panel-body"><!-- Panel Body -->
                                                      <div *ngFor='let project of contractProjects'>
                                                          <li    value="project.name | json | removeQuotes"
                                                                  (click)="stackChange(stack)">{{project.name | json | removeQuotes}}</li>
                                                      </div>
                                                  </div><!-- Panel Body -->
                                                  <div class="panel-footer"><!-- Panel Footer -->                                  
                                                  </div><!-- Panel Footer -->
                                            </div><!-- Panel Start -->
                                  </div><!-- First Tab Container First Row Block 1-->

                                  <div class="col-md-6"><!-- First Tab Container First Row Block 2-->
                                            <div  *ngIf='contractUsers' class="panel panel-default"><!-- Panel Start -->
                                                  <div class="panel-heading"><!-- Panel Heading -->
                                                        <h3 class="panel-title">
                                                            Users <span class="badge">{{contractUsers.length}}</span>
                                                        </h3>
                                                  </div><!-- Panel Heading -->
                                                  <div class="fixed-panel panel-body"><!-- Panel Body -->
                                                    <div *ngFor='let cuser of contractUsers'>
                                                      <li    
                                                              (click)="userSelection(cuser)">{{cuser.name | json | removeQuotes}}</li>
                                                    </div>
                                                  </div><!-- Panel Body -->
                                            </div><!-- Panel Start -->
                                  </div><!-- First Tab Container First Row Block 2-->

                              </div> <!-- First Tab Container First Row-->
                              <div class="row"> <!-- First Tab Container Second Row-->
                                <div  class="col-md-6"><!-- First Tab Container Second Row Block 1-->
                                <div  *ngIf='contractGroups' class="panel panel-default">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">
                                      Groups <span class="badge">{{contractGroups.length}}</span>
                                    </h3>
                                  </div>
                                  <div class="fixed-panel panel-body">
                                    <div *ngFor='let cgroup of contractGroups'>
                                      <li    value="cgroup.id | json | removeQuotes"
                                              (click)="cgroupChange(cgroup)">{{cgroup.name | json | removeQuotes}}</li>
                                    </div>
                                  </div>
                                </div>
                              </div><!-- First Tab Container Second Row Block 1-->
                              <div class="col-md-6"><!-- First Tab Container Second Row Block 2-->
                                  <div *ngIf='contractRoles' class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title">
                                          Roles <span class="badge">{{contractRoles.length}}</span>
                                        </h3>
                                      </div>
                                      <div class="fixed-panel panel-body">
                                        <div *ngFor='let crole of contractRoles'>
                                          <li    value="crole.id | json | removeQuotes"
                                                  (click)="croleChange(crole)">{{crole.name | json | removeQuotes}}</li>
                                        </div>
                                      </div>
                                    </div>
                              </div>

                            </div> <!-- First Tab Container Second Row-->
                        
                      </div><!-- First Tab Container-->
                  </div> <!-- First Tab -->
                  <div class="tab-pane fade" id="tab0project"> <!-- Second Tab -->
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-6">
                                <div *ngIf='roleAssignment' class="panel panel-default">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">
                                      Role Assignments <span class="badge">{{roleAssignment.length}}</span>
                                    </h3>
                                  </div>
                                    <div class="panel-heading">
                                      <h2 class="panel-title">
                                          User added directly to Project
                                      </h2>
                                    </div>
                                  
                                  <div class="fixed-panel panel-body">
                                      <div *ngFor='let role of roleAssignment'>
                                          <li *ngIf='role.user'>{{role.user.id | json | removeQuotes | convertUserIDtoName }} ({{role.role.id | json | removeQuotes | convertRoleIDtoName }})</li>
                              
                                      </div>
                                  </div>
                                  <div class="panel-heading">
                                      <h2 class="panel-title">
                                          Groups attached to Project
                                      </h2>
                                    </div>
                                  <div class="fixed-panel panel-body">
                                      <div *ngFor='let role of roleAssignment'>
                                          <li *ngIf='role.group' value="role"
                                          (click)="groupSelection(role)">{{role.group.id | json | removeQuotes| convertGroupIDtoName }} ({{role.role.id | json | removeQuotes | convertRoleIDtoName }})</li>
                                      </div>
                                  </div>
                                  <div class="panel-footer">
                                      
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title">
                                          Users in selected Group
                                        </h3>
                                      </div>
                                      <div class="fixed-panel panel-body">
                                          <div *ngFor='let user of groupUsers'>
                                              <li *ngIf='user'>{{user.name | json | removeQuotes}}</li>
                                  
                                          </div>
                                      </div>
                                      
                                      
                                    </div>
                              </div>

                            </div>
                        </div>
                  </div><!-- Second Tab -->
                  <div class="tab-pane fade" id="tab1compute"><!-- Third Tab -->
                      <div *ngIf='currentProjectT' class="container-fluid">
                        <!-- <app-cloudvisualised></app-cloudvisualised> -->
                          <div class="row">
                            <div *ngIf='userServers' class="col-md-4">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">
                                    Servers 
                                  </h3>
                                </div>
                                <div class="fixed-panel panel-body">
                                  <div *ngFor='let server of userServers | sortObjectsByName'>
                                    <li    value="server.id | json | removeQuotes"
                                            (click)="serverChange(server)">{{server.name | json | removeQuotes}}</li>
                                  </div>
                                </div>
                                <div class="panel-footer">
                        
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf='serverDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                        Details of {{serverDetails.name|json | removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="fixed-panel panel-body">
                                        {{serverDetails|json | removeQuotes}}
                                    </div>
                                    <div class="panel-footer">
                                        {{serverDetails.flavor.id|json | removeQuotes}}
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf='serverDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                          Console boot logs for {{serverDetails.name|json | removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="term-container fixed-panel panel-body">
                                        {{serverLogs}}
                                    </div>
                                    <div class="panel-footer">
                                      Panel footer
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                  </div><!-- Third Tab -->
                  <div class="tab-pane fade" id="tab2stack"><!-- Fourth Tab -->
                      <div *ngIf='currentProjectT' class="container-fluid">
                          <div class="row">
                            <div *ngIf='userStacks' class="col-md-4">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">
                                    Stacks 
                                  </h3>
                                </div>
                                <div class="fixed-panel panel-body">
                                  <div *ngFor='let stack of userStacks | stackSorter'>
                                    <li    value="stack.id | json | removeQuotes"
                                            (click)="stackChange(stack)">{{stack.stack_name | json| removeQuotes}}</li>
                                  </div>
                                </div>
                                <div class="panel-footer">
                        
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf='stackDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                        Details of {{stackDetails.stack.stack_name|json| removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="fixed-panel panel-body">
                                        {{stackDetails|json | removeQuotes}}
                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="btn-xl btn btn-danger" (click)="deleteStack(stackDetails)">Delete Stack</button>
                                        
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf='stackDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                        Outputs of {{stackDetails.stack.stack_name|json| removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="fixed-panel panel-body">
                                        {{stackOutputs|json | removeQuotes}}
                                    </div>
                                    <div class="panel-footer">
                                        
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                  </div><!-- Fourth Tab -->
                  <div class="tab-pane fade" id="tab3primary"><!-- Fifth Tab -->
                    <app-loadbalancer></app-loadbalancer>
                  </div><!-- Fifth Tab -->
                  <div class="tab-pane fade" id="tab3primary"><!-- Fifth Tab -->
                    Network
                  </div><!-- Fifth Tab -->
              </div> <!-- Tabbed Panel Body Panes -->
          </div> <!-- Tabbed Panel Body -->
      </div> <!-- Main Tabbed Panel Wrapper -->
  </div>
</div>

